version: '3.9'

services:
  php:
    build:
      context: .
      target: php
    container_name: laravel_php
    volumes:
      - .:/var/www/html
    networks:
      - laravel

  nginx:
    build:
      context: .
    container_name: laravel_nginx
    ports:
      - "8080:8080"
    depends_on:
      - php
    volumes:
      - .:/var/www/html
    networks:
      - laravel

networks:
  laravel:
    driver: bridge