/* Login.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-image: url("../assets/SICS.jpg");  /* <<< ADD THIS */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-card {
  background-color: #fcf7e4;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 20px 50px rgb(12, 12, 12);
  width: 100%;
  max-width: 400px;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
  color: #b8860b;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #8b7500;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #dcd588;
  outline: none;
  font-size: 14px;
}

.login-button {
  width: 100%;
  padding: 12px;
 background-color: #f7e14b;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

.login-button:hover {
  background-color: #ffe066;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}
